#_ngcontent-imt-c135{
display:none;
}

/*change username font size*/
div.profile-username{
font-size:3em;
}

/**/
a[routerlink="/user-preferences"]{
pointer-events: none;
}

div.profile-img
{
display:none!important;
}


#search-filter{
display:none;
}

.top-search-block{
margin-right:1% !important;
}
