#_ngcontent-imt-c135{
display:none;
}

.mat-form-field-label{
transition:none;
}

.fa-lg.fas.fa-cloud-download-alt.ng-star-inserted{
display:none!important;
}

a.forgot-password.col-md-12.ng-tns-c135-0{
display:none;
}

div.profile-username{
font-size:3em;
}

a[routerlink="/user-preferences"]{
pointer-events: none;
}

div.profile-img
{
display:none!important;
}



#search-filter{
display:none;
}

.top-search-block{
margin-right:1% !important;
}
